$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        hg: 1600px
);

$container-max-widths: (
        sm: 540px,  // 36
        md: 720px,  // 48
        lg: 960px,  // 32
        xl: 1140px, // 60
        hg: 1540px // 60
);

@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/utilities/display";
@import "node_modules/bootstrap/scss/utilities/position";